html, body{
	width: 100%;
    height: 100%;
    padding: 0;
margin: 0;
scroll-behavior: smooth;
}


body {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
 margin: 0;
    width: auto;
    height: 100vh;
}


.nav-h{
	height: 55px;
}

.heaader-img{
	overflow: hidden;
}

.py-9 {
	padding-top: 3rem;
}

.apply-btn{
	height: 55px;
	width: 222.96px;
height: 55px;
left: 64px;
top: 573px;
font-weight: 500;
font-size: 14px;
background: #ED6639;
margin-top: 60px;
}

.submit-btn{
	height: 55px;
	width: 222.96px;
height: 55px;
left: 64px;
top: 573px;
font-weight: 500;
font-size: 14px;
background: #ED6639;

}
 .login-btn{
	height: 55px;
	width: 178px;
height: 55px;
left: 64px;
top: 573px;
font-weight: 500;
font-size: 14px;
background: #ED6639;

}
.viewall-btn{
	height: 55px;
	width: 222.96px;
height: 55px;
left: 64px;
top: 573px;
font-weight: 500;
font-size: 14px;
color: #ED6639;
border: 1px solid #D8D8D8;
}
.viewall-btn:hover{
	height: 55px;
	width: 222.96px;
height: 55px;
left: 64px;
top: 573px;
font-weight: 500;
font-size: 14px;
color: #fff;
background: #ED6639;
}


.eligibility-card{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */

letter-spacing: 0.16px;

color: #333146;
}

.eliigibility-text{

left: 116px;
top: 2448px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.16px;

color: #5D5D5D;

}

.footer{
	background: #0C2A46;
	color: #fff;
	font-size: 14px;
}
.newsletter-text{
	font-size: 18px!important;
}

.newsletter-btn{
	background: #ED6639;
	border: 0px solid #ED6639;
}
.followus-align{
	display: inline-flex;
	align-items: center;
}
.header-section{
	background-image: url(../img/registerbg.png);
}
.header-text{
	font-size: 33px;
	color: #fff;
	padding: 90px 0;
}

.main-bg{
	background: url(../img/bg-img.svg);
	width: auto;
	height: 100%;

	background-position: center center;
	background-repeat: no-repeat;
	display: table;
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-bg{
	background: #F4F4F4;
	border: 1px solid #333146;
}


.bx--text-input,
.bx--select-input,
textarea{
	background: #fff !important;
}
.input-width{
	width: 15rem !important;
    min-width: 8rem !important;
    max-width: 28rem !important;
}


/* Small (sm) */
@media (max-width: 640px) { 
.header-txt{
width: 320px;

font-family: Montserrat;
font-style: normal;
font-weight: 250;
font-size: 30px;
line-height: 40px;
/* or 125% */

letter-spacing: -0.24px;

color: #333146;
}
.header-txt-bold{
	font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
color: #333146;
/* or 125% */

letter-spacing: -0.24px;

color: #333146;
}

.header-txt-colored{
	font-style: normal;
font-weight: 200;
font-size: 30px;
line-height: 40px;
/* or 125% */

letter-spacing: -0.24px;

color: #FF4000 !important;

}

.header-txt-p{
	width: 320px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
/* or 137% */

letter-spacing: -0.24px;

color: #5D5D5D;
} 
/**/


.about-section{
	width: 340px;
	font-style: normal;
font-weight: 300;
font-size: 16px;
}
.about-yafip{
	font-weight: 300;
font-size: 25px;
line-height: 18px;
color: #333146;

}
.about-yafip-p{
	width: 340px;

font-weight: normal;
font-size: 14px;
line-height: 25px;
}
 }

/* Medium (md) */
@media (min-width: 768px) { 

.header-txt{
	width: 330px;


font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 40px;
/* or 125% */

letter-spacing: -0.24px;

color: #333146;
}
.header-txt-bold{
	font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
color: #333146;
/* or 125% */

letter-spacing: -0.24px;

color: #333146;
}

.header-txt-colored{
	font-style: normal;
font-weight: 200;
font-size: 30px;
line-height: 40px;
/* or 125% */

letter-spacing: -0.24px;

color: #FF4000 important;

}

.header-txt-p{
	width: 330px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* or 137% */

letter-spacing: -0.24px;

color: #5D5D5D;
} 

/**/
.about-section{
	width: 370px;
	font-style: normal;
font-weight: 300;
font-size: 18px;
}
.about-yafip{
	font-weight: 300;
font-size: 25px;
line-height: 18px;
color: #333146;

}
.about-yafip-p{
	width: 370px;

font-weight: normal;
font-size: 14px;
line-height: 25px;
}




}

/* Large (lg) */
@media (min-width: 1024px) { 



.header-txt{
	width: 586.9px;
height: 165px;
left: 65px;
top: 214px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 44px;
line-height: 55px;
/* or 125% */

letter-spacing: -0.24px;

color: #333146;
}
.header-txt-bold{
	font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 55px;
color: #333146;
/* or 125% */

letter-spacing: -0.24px;

color: #333146;
}

.header-txt-colored{
	font-style: normal;
font-weight: 300;
font-size: 44px;
line-height: 55px;
/* or 125% */

letter-spacing: -0.24px;

color: #FF4000;

}

.header-txt-p{
	width: 599px;
height: 104px;
left: 65px;
top: 409px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 26px;
/* or 137% */

letter-spacing: -0.24px;

color: #5D5D5D;
}
.about-section{
	width: 557px;
	font-style: normal;
font-weight: 300;
font-size: 18px;
}
.about-yafip{
	font-weight: 500;
font-size: 32px;
line-height: 18px;
color: #333146;

}
.about-yafip-p{
	width: 557px;

font-weight: normal;
font-size: 18px;
line-height: 25px;
}


 }

/* Extra Large (xl) */
@media (min-width: 1280px) { 



.header-txt{
	width: 586.9px;
height: 165px;
left: 65px;
top: 214px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 44px;
line-height: 55px;
/* or 125% */

letter-spacing: -0.24px;

color: #333146;
}
.header-txt-bold{
	font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 55px;
color: #333146;
/* or 125% */

letter-spacing: -0.24px;

color: #333146;
}

.header-txt-colored{
	font-style: normal;
font-weight: 300;
font-size: 44px;
line-height: 55px;
/* or 125% */

letter-spacing: -0.24px;

color: #FF4000;

}

.header-txt-p{
	width: 599px;
height: 104px;
left: 65px;
top: 409px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 26px;
/* or 137% */

letter-spacing: -0.24px;

color: #5D5D5D;
}



 }